<div class="fondo-negro animated fadeIn" [ngClass]="modalUploadService.hide">
  <div class="modal" style="display: block" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Subir Imagen</h5>
          <button (click)="closeModal()" type="button" class="close" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body text-center">
          <img *ngIf="!tempImage" [src]="'sth' | image:hospitals" class="w150 mb-2" alt="">
          <img *ngIf="tempImage" [src]="tempImage" class="w150 mb-2" alt="">
          <div class="form-group">
            <label for="exampleFormControlFile1">Imagen</label>
            <input (change)="imageSelected( $event)" type="file" class="form-control-file border" accept="image/*" [value]="searchValue">
          </div> 
        </div>
        <div class="modal-footer">
          <button (click)="uploadModal()" [disabled]="!tempImage" type="button" class="btn btn-primary">Subir imagen</button>
          <button (click)="closeModal()" type="button" class="btn btn-secondary">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
</div>