<div class="row">
  <div class="col-12">
    <div class="card bg-transparent">
      <h4 class="card-header bg-transparent">Graficas</h4>
      <div class="card-body bg-transparent">
        <div class="row">
          <div class="col-6" *ngFor="let item of arrayGraphics">
            <div class="card bg-transparent">
              <h5 class="card-header bg-transparent">{{item.leyenda}}</h5>
              <div class="card-body bg-transparent">
                <app-doughnut-chart [data]="item.data" [labels]="item.labels" [chartType]="item.type">
                </app-doughnut-chart>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>